body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container{
  text-align: center;
}
nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption{
  font-size: 14px;
  text-align: center;

}
#featured-property p{
width: 800px;
text-align:center;
color: blue;
margin-left: 220px;

}
#details div{
  background-color: red;
  text-align: center;
  float: left;
  width: 25%;
  
}